---
import Icon from "@components/Icon.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getEntry } from "astro:content";

const cv = (await getEntry("cv", "cv")).data;
---

<BaseLayout title={cv.title} sideBarActiveItemID="cv">
  <div class="mb-5 flex flex-row content-between">
    <div class="text-3xl w-full font-bold">{cv.title}</div>
    <a class="btn btn-primary btn-sm" href={cv.cv_path} download>
      <Icon name="file-arrow-down" />
      PDF
    </a>
  </div>

  <div class="mb-10 text-justify">{cv.description}</div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{cv.education.title}</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    {
      cv.education.steps.map(
        ({ name, spec, university, year, country, notes }) => (
          <TimeLineElement
            title={name + " | " + spec}
            subtitle={year + ", " + country}
          >
            {university + (notes ? ", " + notes : "")}
          </TimeLineElement>
        ),
      )
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{cv.experience.title}</div>
  </div>

  <div class="time-line-container mb-10">
    {
      cv.experience.stages.map(
        ({ place, period, position, country, description }) => (
          <TimeLineElement
            title={position + " | " + place}
            subtitle={period + ", " + country}
          >
            {description}
          </TimeLineElement>
        ),
      )
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{cv.courses.title}</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {
      cv.courses.items.map(({ name, url }) => (
        <li>
          <a href={url} target="_blank">
            {name}
          </a>
        </li>
      ))
    }
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{cv.skills.title}</div>
  </div>
  <div class="flex flex-row flex-wrap justify-between gap-x-6 gap-y-4 mx-6">
    {
      cv.skills.items.map(({ name, type }) => (
        <div
          class={
            "badge badge-lg badge-outline " +
            (type === "lang" ? "badge-secondary" : "") +
            (type === "system" ? "badge-accent" : "") +
            (type === "tools" ? "badge-info" : "") +
            (type === "electronics" ? "badge-success" : "")
          }
        >
          {name}
        </div>
      ))
    }
  </div>
  <!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
    {cv.skills.items.map((val) => <li>{val}</li>)}
  </ul> -->
</BaseLayout>
