---
import Icon from "@components/Icon.astro";
import type { ContactSchema } from "@content/config";
import { getCollection } from "astro:content";

const contacts = (await getCollection("contacts")).map(
    ({ data }) => data as ContactSchema,
);
---

<div
    class="social-icons px-4 pb-5 pt-1 flex flex-col flex-wrap gap-x-6 gap-y-3 self-center justify-center sticky bottom-0 bg-base-200"
>
    <p class="text-base">Contacts</p>
    {
        contacts.map(({ name, icon, url }) => (
            <a
                class="flex flex-row justify-between gap-3"
                href={url}
                target="_blank"
                aria-label={name}
                title={name}
            >
                <p>{url}</p>
                <Icon name={icon} size={24} />
            </a>
        ))
    }
</div>
