---
import Icon from "@components/Icon.astro";
import HorizontalCard from "@components/cards/HorizontalCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import createSlug from "@lib/createSlug";
import ui from "@lib/ui";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getCollection("projects");
  projects.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(projects, { pageSize: 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<BaseLayout title={ui.projects.name} sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Projects</div>
  </div>

  {
    page.data.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          desc={project.data.description}
          url={"/projects/" + createSlug(project.data.title, project.slug)}
          target="_self"
          badge={project.data.badge}
          tags={project.data.tags}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          <Icon name="caret-left" />
        </a>
      ) : (
        <div />
      )
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          <Icon name="caret-right" />
        </a>
      ) : (
        <div />
      )
    }
  </div>
</BaseLayout>
