---
import Icon from "@components/Icon.astro";
import type { ContactSchema } from "@content/config";
import { getCollection } from "astro:content";

const contacts = (await getCollection("contacts")).map(
    ({ data }) => data as ContactSchema,
);
---

<div class="px-4 pb-2 self-stretch bg-base-200">
    {
        contacts.map(({ name, icon, url }) => (
            <a
                class="py-2 w-min link link-hover flex flex-row gap-4 "
                href={url}
                target="_blank"
                aria-label={name}
                title={name}
            >
                <Icon name={icon} size={24} />
                <p>{name}</p>
            </a>
        ))
    }
</div>
